<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.easycredit.dao.mapper.OrganizationAuthorityMapper" >
  <resultMap id="BaseResultMap" type="com.easycredit.dao.pojo.OrganizationAuthority" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="organizationid" property="organizationid" jdbcType="INTEGER" />
    <result column="authoritytypeflag" property="authoritytypeflag" jdbcType="INTEGER" />
    <result column="comments" property="comments" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, organizationid, authoritytypeflag, comments
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.easycredit.dao.pojo.OrganizationAuthorityExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from organizationauthority
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from organizationauthority
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from organizationauthority
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <delete id="deleteByOid" parameterType="java.lang.Integer" >
    delete from organizationauthority
    where organizationid = #{oid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.easycredit.dao.pojo.OrganizationAuthorityExample" >
    delete from organizationauthority
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.easycredit.dao.pojo.OrganizationAuthority" useGeneratedKeys="true" keyProperty="id" >
    insert into organizationauthority (organizationid, authoritytypeflag, 
      comments)
    values (#{organizationid,jdbcType=INTEGER}, #{authoritytypeflag,jdbcType=INTEGER}, 
      #{comments,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.easycredit.dao.pojo.OrganizationAuthority" useGeneratedKeys="true" keyProperty="id" >
    insert into organizationauthority
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="organizationid != null" >
        organizationid,
      </if>
      <if test="authoritytypeflag != null" >
        authoritytypeflag,
      </if>
      <if test="comments != null" >
        comments,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="organizationid != null" >
        #{organizationid,jdbcType=INTEGER},
      </if>
      <if test="authoritytypeflag != null" >
        #{authoritytypeflag,jdbcType=INTEGER},
      </if>
      <if test="comments != null" >
        #{comments,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.easycredit.dao.pojo.OrganizationAuthorityExample" resultType="java.lang.Integer" >
    select count(*) from organizationauthority
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update organizationauthority
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.organizationid != null" >
        organizationid = #{record.organizationid,jdbcType=INTEGER},
      </if>
      <if test="record.authoritytypeflag != null" >
        authoritytypeflag = #{record.authoritytypeflag,jdbcType=INTEGER},
      </if>
      <if test="record.comments != null" >
        comments = #{record.comments,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update organizationauthority
    set id = #{record.id,jdbcType=INTEGER},
      organizationid = #{record.organizationid,jdbcType=INTEGER},
      authoritytypeflag = #{record.authoritytypeflag,jdbcType=INTEGER},
      comments = #{record.comments,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.easycredit.dao.pojo.OrganizationAuthority" >
    update organizationauthority
    <set >
      <if test="organizationid != null" >
        organizationid = #{organizationid,jdbcType=INTEGER},
      </if>
      <if test="authoritytypeflag != null" >
        authoritytypeflag = #{authoritytypeflag,jdbcType=INTEGER},
      </if>
      <if test="comments != null" >
        comments = #{comments,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.easycredit.dao.pojo.OrganizationAuthority" >
    update organizationauthority
    set organizationid = #{organizationid,jdbcType=INTEGER},
      authoritytypeflag = #{authoritytypeflag,jdbcType=INTEGER},
      comments = #{comments,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select resultMap="BaseResultMap" parameterType="com.easycredit.dao.pojo.OrganizationAuthorityExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from organizationauthority
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>